{% extends 'main.html' %}
{% block content %}



<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <br>

            <form action="" method="POST"> 
                {% csrf_token %}
                <p>Are you sure you want to delete "{{object}}"</p>

                <a class="btn btn--sub btn--lg  my-md" href="{% url 'account' %}">Go Back</a>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="confirm" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}